.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
  max-width: 100%;
  height: auto;
}

.container h1 {
  color: #333;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  color: #555;
  font-size: 24px;
}

.section p {
  color: #777;
  font-size: 18px;
  line-height: 1.6;
}

.section ol,
.section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.section li {
  color: #777;
  font-size: 16px;
  line-height: 1.4;
}